/* copied from file:///home/maki/.mercury/xwne6tzt.default-default/chrome/userChrome.css */

.bookmark-item[label="anon"] image {
	width: 0 !important;
	height: 0 !important;
	padding: 0 0 16px 16px !important;
	background-size: 100% 100% !important;
	/* green heart */
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/svg/1f49a.svg) !important;
}

.bookmark-item[label="ponies"] image {
	width: 0 !important;
	height: 0 !important;
	padding: 0 0 16px 16px !important;
	background-size: 100% 100% !important;
	/* carousel horse */
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/svg/1f3a0.svg) !important;
}

.bookmark-item[label="popen"] image {
	width: 0 !important;
	height: 0 !important;
	padding: 0 0 16px 16px !important;
	background-size: 100% 100% !important;
	/* unicorn */
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/svg/1f984.svg) !important;
}

.bookmark-item[label="ow"] image {
	width: 0 !important;
	height: 0 !important;
	padding: 0 0 16px 16px !important;
	background-size: 100% 100% !important;
	/* fox */
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/svg/1f98a.svg) !important;
}
